body
{
        font-family: "segoe ui light";
    overflow-x: hidden;
}

#home
{
    background-color: gray;
}
#home h1
{
  font-size: 4.5rem;
    color:#09c;
}
#home p
{
  font-size: 3rem;
}

#home h3
{
    margin-top: 30px;
    font-size: 2rem; 
}
.info span
{
    padding: 20px;
    margin:30px auto;
    width: 60%;
    color: #09c;
    text-align: center;
}

.item
{
    border: 5px solid #09c;
    position: relative;
}
.item img
{
    width: 100%;
   
}
 #home .caption p
{
    color:#09c;
    background-color: #fff;
       text-align: center;
    font-size: 2rem;
     position: absolute;
    top:84%;
    left: 0;
    text-align: center;
    width: 100%;
    
}
#home .woman
{
    height: 285px;
}
@media (max-width:1200px) and (min-width:995px)
{
  #home .woman
    {
        height: 235px;
    }
     #home .caption p
    {
        top: 80%;
    }
}
@media (max-width:994px) and (min-width:768px)
{
  #home .woman
    {
        height: 165px;
    }
      #home .caption p
    {
        top: 71%;
    }
}
@media (max-width:767px)
{
    #home .item
    {
        margin-bottom: 20px;
    }
}

/* start member 1 */ 

#member-1
{
	text-align: center;
	margin: 50px;
	
}

#member-1 p
{
	font-size: 20px;
	font-weight: 500;
	text-shadow: 5px 5px 10px gray;
	
}

h2
{
	margin-top: 50px;
	text-align: center;
	font-weight: 800;
	text-shadow: 5px 5px 10px gray;
}

.btn-right
{
	position: absolute;
	top:50%;
	right: 0px;
	background-color: rgba(0,0,0,0.5);
	border: none;
	padding: 5px 5px;
	color:#fff;	
		
}

.btn-left
{
	position: absolute;
	top:50%;
	left: 0px;
	background-color: rgba(0,0,0,0.5);
	border: none;
	padding: 5px 5px;
	color:#fff;
		
}


.img-content
{
	
	width:50%;
	margin: auto;
	margin-top: 20px;
	/*border:2px solid #bbb;*/
	position: relative;
}

.img-content img
{
	width: 100%
}

.thumbnile
{
	width: 50%;
	margin-top: 1%;
	margin: auto;
		
}

.thumbnile img
{
	width: 24.25%;
	height: 100px;
	float: left;
	border:2px solid #bbb;
	opacity: 0.6;
	margin-top: 10px;
	
}

.thumbnile img:not(:last-child)
{
	margin-right: 1%;
}

img.selected
{
	border:2px solid #0c0;
	opacity: 1;
}

.icon-container
{
	margin: 20px;
	-webkit-transition: all 1s ;
	transition: all 1s ;
	text-align: center
	
}

#cards
{
    width: 100%;
    height: 500px;
   background-color: whitesmoke;
    


   
}
 
.item2
{
 
    width: 25%;
    position: relative;
   
    
 
}

#cards .item2 img
{
    width: 100%;
     position: relative;
   
}

.caption2
{
   text-align: center;
   background-color:  rgba(42,63,85,0.7);
    color: white;
    overflow: hidden;
   
    
    
  
    
}

.caption2 h2
{
    font-weight: 500;
    position: relative;
    bottom: 20px;
}
.card{
    float: left;
    margin: 20px;;
    border-radius: 3%;
    padding: 40px;
}
.frst h1{
    text-align: center;
    padding: 15px;
    
}
.clr
{
    clear: both;
}



.member
{
    width: 25%;
    border: solid 5px #fff;
    position: relative;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.member img
{
    width: 100%;
    transition-delay: 1s;
}
.member .caption
{
    background-color: rgba(42,63,85,0.7);
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    transition: all 1s;
    opacity: 0;
    
}
.member:hover .caption
{
    opacity: 1;
    transform: rotate(-360deg);
}
.member:hover img
{
    transition: scale(1.2,1.2);
    }

.caption h2
{
    background-color: #2a3f55;
    margin-top: 0px;
    padding: 10px;
    position: relative;
    left: 120%;
    transition: all 1s;
    transition-delay: 2s;
    
}
.caption p
{
    padding: 15px;
    font-size: 18px;
    position: relative;
    left: 120%;
    transition-delay: 2.5s;
    
}
.member:hover .caption h2
{
    left: 0%;
}
.member:hover .caption p
{
    left: 0%;
}




